@using lab1.Models
@model Lista
@{
    ViewData["Title"] = "Planer";
}

@using (Html.BeginForm("ChangeSlot", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="align-middle text-center">
        
        @Html.DropDownListFor(Model=>Model.selectedSlot.group, new SelectList(Model.listy.groups), new {htmlAttributes =
    new {@class = "form-control" }})
        @Html.DropDownListFor(Model=>Model.selectedSlot.room, new SelectList(Model.listy.rooms), new {htmlAttributes =
    new {@class = "form-control" }})
        @Html.DropDownListFor(Model=>Model.selectedSlot.teacher, new SelectList(Model.listy.teachers), new {htmlAttributes =
    new {@class = "form-control" }})
        <button name="slotid" class="btn btn-primary" type="submit" value=@Model.slotid>zapisz</button>
        <button name="slotid" class="btn btn-primary" type="submit" value=@Model.slotid asp-action="Index">Anuluj</button>
    </div>
    <input type="hidden" name="what" value=@Model.what >
    <input type="hidden" name="selectedItem" value=@Model.selectedItem >
    <input type="hidden" name="jsonString" value="@Model.jsonString">
}